html {
  scrollbar-gutter: auto;

  &.is-lock {
    overflow: hidden;
  }

  &.special {
    --section-padding-y: 30px;

    .hero,
    .special-block {
      border-bottom: var(--border-gray);
    }
  }
}

body {
  @include fluid-text(16, 14);

  font-family: var(--font-family-base);
  color: var(--color-white);
  background-color: var(--color-iron-dark);
}

#app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex-grow: 1;
}

h1, .h1 {
  @include fluid-text(32, 28);
  font-weight: 700;
}

h2, .h2 {
  @include fluid-text(24, 20);
  font-weight: 700;
}

h3, .h3 {
  @include fluid-text(20, 18);
  font-weight: 700;
}

h4, .h4 {
  @include fluid-text(18, 16);
  font-weight: 700;
}

a,
button,
label,
input,
textarea,
select,
svg * {
  transition-duration: var(--transition-duration);
}

a {
  color: inherit;

  @include hover {
    color: var(--color-black);
  }

  // Подчеркивание ссылок остается для ссылок в тексте, но не для ссылок в остальном макете
  &[class] {
    text-decoration: none;
  }
}

.avtor {
  display: none;
}

.header,
.content > *:not(:nth-last-child(1)),
.footer {
  //display: none !important;
}

