:root {
  --color-white: #FFFFFF;
  --color-black: #000000;

  --font-family-base: 'Manrope', sans-serif;

  --container-width: #{fluid-to-laptop(
    $container-desktop-width,
    $container-laptop-width
  )};

  --container-padding-x: 16px;

  --transition-duration: 0.2s;
}
