:root {
  --color-white: #FFFFFF;
  --color-black: #000000;

  --color-accent: #1A4A8D;

  --color-dark: #343A40;
  --color-iron-dark: #434B4D;
  --color-iron-dark-hover: rgba(255, 255, 255, 0.05);

  --color-gray: #CCCCCC;

  --border: var(--border-width) solid var(--color-accent);
  --border-gray: var(--border-width) solid var(--color-gray);

  --border-width: 1px;

  --border-radius: 10px;

  --font-family-base: 'Manrope', sans-serif;

  --container-width: #{fluid-to-laptop(
    $container-desktop-width,
    $container-laptop-width
  )};

  --container-padding-x: 16px;

  --section-padding-y: #{fluid(75, 40)};

  --transition-duration: 0.2s;
}
