.icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  flex-shrink: 0;

  &__image {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}